{% extends 'base.html' %}

{% block content %}

<section id="about">
    <div class="container">
      <div class="about-header">
        <h2>About Us</h2>
        <p>Welcome to AI Business Services, the leading provider of cutting-edge AI solutions for businesses. Our mission is to empower organizations to unlock the full potential of artificial intelligence, driving growth, enhancing operational efficiency, and revolutionizing customer experiences.</p>
      </div>
      <div class="about-content">
        <div class="about-card">
          <img src="{{ url_for('static', filename='images/temp.jpg') }}" alt="About Image">
          <h3>Our Expert Team</h3>
          <p>At AI Business Services, we have a dedicated team of AI professionals who combine their expertise with state-of-the-art technologies to deliver innovative solutions tailored to the unique needs of our clients.</p>
        </div>
        <div class="about-card">
          <img src="{{ url_for('static', filename='images/temp2.jpg') }}" alt="About Image">
          <h3>Driven by Innovation</h3>
          <p>We are committed to driving innovation in the AI industry. By staying at the forefront of advancements, we ensure that our clients have access to the latest technologies and best practices for achieving their business goals.</p>
        </div>
        <div class="about-card">
          <img src="{{ url_for('static', filename='images/temp.jpg') }}" alt="About Image">
          <h3>Collaborative Approach</h3>
          <p>We believe in the power of collaboration. Our team works closely with clients to understand their unique challenges and goals, enabling us to provide customized AI strategies that deliver tangible results.</p>
        </div>
      </div>
    </div>
  </section>


{% endblock %}